*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/vecteezy_spices-for-use-as-cooking-ingredients-on-a-wooden-background_3823542_901.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.foglio{
    width: 25%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    margin: 100px 0;
    overflow: auto;
}

h2{
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
}

ul li{
    margin-left: 1.5rem;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.btn{
    border-radius: 5px;
    padding: 3px 5px;
}

.add{
    background-color: green;
    color: white;
}

.remove-all{
    background-color: red;
    color: white;
}

.remove-last{
    background-color: darkcyan;
    color: white;
}